*{margin: 0; padding: 0;}

#swiper{
    overflow: hidden;
    margin: 100px auto;
    position: relative;
}

/* 드래그 방지 클래스 */
.no-drag {
    -ms-user-select: none; 
    -moz-user-select: -moz-none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    user-select:none;
}

